<a href="https://colab.research.google.com/github/KenKaneki2207/PYTHON/blob/FDS-Assignment/ASS_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#user input for cricket,football,badminton players 
group_c=[]
group_b=[]
group_f=[]
num1=int(input("Enter the number of players in Cricket Team "))
for i in range(1,num1+1):
  element=input("Enter the name of student")
  group_c.append(element)

num2=int(input("\nEnter the number of players in Badminton Team "))
for i in range(1,num2+1):
  element=input("Enter the name of student")
  group_b.append(element)

num3=int(input("\nEnter the number of players in Football Team "))
for i in range(1,num3+1):
  element=input("Enter the name of student")
  group_f.append(element)

print('CRICKET LIST',group_c)
print('BADMINTON LIST',group_b)
print('FOOTBALL LIST',group_f)

Enter the number of players in Cricket Team 3
Enter the name of studentganesh
Enter the name of studentrohit
Enter the name of studentpankaj

Enter the number of players in Badminton Team 4
Enter the name of studentharshita
Enter the name of studentharsh
Enter the name of studentmayur
Enter the name of studentganesh

Enter the number of players in Football Team 3
Enter the name of studentmayur
Enter the name of studentganesh
Enter the name of studentsamee
CRICKET LIST ['ganesh', 'rohit', 'pankaj']
BADMINTON LIST ['harshita', 'harsh', 'mayur', 'ganesh']
FOOTBALL LIST ['mayur', 'ganesh', 'samee']

In [ ]:
oki

In [ ]:
#code to found copmmon between two sets
def common(s1,s2):
  common_set=[]
  for i in s1:
    for j in s2:
      if i==j:#common element in both sets
        common_set.append(j)#adding common element in a set
  return common_set
common(group_c,group_f)

['ganesh']

In [ ]:
##List of students who play either cricket or badminton but not both 
Union=group_c+group_b
both=common(group_c,group_b)#added common players of badminton and cricket in both list using common function created by user
for i in Union:
  if i in both:
    Union.remove(i)#removing the commmon elements
print(Union)

['rohit', 'pankaj', 'harshita', 'harsh', 'mayur']

In [ ]:
#Number of students who play neither cricket nor badminton 
only_f=group_f
for i in group_f:
  if i in (group_c or group_b):#checking the elements in cricket and badminton
    only_f.remove(i)#delete the common element from footall list
print(only_f)

['mayur', 'samee']

In [ ]:
#Number of students who play cricket and football but not badminton. 
Union=group_c+group_f#union = players in cricket and football
for i in Union:
  if i in group_b:
    Union.remove(i)#deleting the players of badminton group from union
print(Union)

['rohit', 'pankaj', 'samee']