<a href="https://colab.research.google.com/github/KenKaneki2207/PYTHON/blob/FDS-Assignment/ASS_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Assignment 2

In [ ]:
#taking input from the user of student names and marks
n=int(input("Enter the number of students: "))
D={}#creating a dictionay with names as keys and values as marks
for i in range(n):
  st=input("Enter the name of students: ")
  if i==0:
    print()
    print("'IF THE STUDENT WAS ABSENT FOR THE EXAM \nPLS LEAVE THE SPACE OR ENTER'")
    print()
  marks=input("Enter the marks of student: ")
  D[st]=marks
print(D)

Enter the number of students: 10
Enter the name of students: Ganesh

'IF THE STUDENT WAS ABSENT FOR THE EXAM
PLS LEAVE THE SPACE OR ENTER'

Enter the marks of student: 76
Enter the name of students: Soffiya
Enter the marks of student: 100
Enter the name of students: Samee
Enter the marks of student: 95
Enter the name of students: Pinka
Enter the marks of student:
Enter the name of students: Danu
Enter the marks of student: 79
Enter the name of students: Smit
Enter the marks of student: 79
Enter the name of students: Sushant
Enter the marks of student: 79
Enter the name of students: Alfarha
Enter the marks of student: 76
Enter the name of students: Khadija
Enter the marks of student: 65
Enter the name of students: Nisha
Enter the marks of student: 95
{'Ganesh': '76', 'Soffiya': '100', 'Samee': '95', 'Pinka': '', 'Danu': '79', 'Smit': '79', 'Sushant': '79', 'Alfarha': '76', 'Khadija': '65', 'Nisha': '95'}

In [ ]:
#No. of stuents attended the Exam
c=0
for i in D.values():
  if i in[' ','']:
    c+=1
n=n-c#only taking the avg from the students who attended the exam
print("Number of students attended the exam are ",n)

Number of students attended the exam are  9

In [ ]:
print(D)

{'Ganesh': '76', 'Soffiya': '100', 'Samee': '95', 'Pinka': '', 'Danu': '79', 'Smit': '79', 'Sushant': '79', 'Alfarha': '76', 'Khadija': '65', 'Nisha': '95'}

In [ ]:
#average score of the class
#Absent students
avg=0
Marks=[]
for i in D:
  if D[i] in[" ",""]:
    print("Absent Student",i)
  else:
    D[i]=int(D[i])
    Marks.append(D[i])#adding the marks in another list 'Marks'
    avg+=D[i]
print("Average score of the class: ",avg/n)

Absent Student Pinka
Average score of the class:  82.66666666666667

In [ ]:
print(Marks)

[76, 100, 95, 79, 79, 79, 76, 65, 95]

In [ ]:
#Highest Score and Lowest Score
print("Highest Score",max(Marks))
print("Lowest Score",min(Marks))

Highest Score 100
Lowest Score 65

In [ ]:
#Highest frequency
Frequency={}
count=0
for i in Marks:
  for j in Marks:
    if i==j:
      count+=1#count of same marks got by different students
      Frequency[i]=count#Marks---> keys and Count---> values
  count=0#reducing the values of count to zero, becoz when it checks for another values of i =, the count should start from fresh(0)
print(Frequency)
for i in Frequency:
  if Frequency[i]==max(Frequency.values()):
    print("Highest Frequency is",i,"and",Frequency[i])

{76: 2, 100: 1, 95: 2, 79: 3, 65: 1}
Highest Frequency is 79 and 3